.icon-box {
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    z-index: 1;
  }
  
  .icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: hsl(240, 2%, 13%);
    border-radius: inherit;
    z-index: -1;
  }